body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#music-player {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#playlist-management {
    width: 30%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,
